build/
.vscode/
*.o
*.a
*.so
compile_commands.json
/home/aymane/Desktop/OrbitalForge/OrbitalForge_7-Day_Modern_CPP_Bootcamp.pdf
/home/aymane/Desktop/OrbitalForge/orbitalforge_to_md.py
/home/aymane/Desktop/OrbitalForge/OrbitalForge_7-Day_Modern_CPP_Bootcamp.md
/home/aymane/Desktop/OrbitalForge/codebase_snapshot.md